<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Questionnaire </title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="assets/css/styles.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">

  <style>

    .padded {
      margin-top: 15px;
      padding-top: 15px;
    }
    .bordered{
      border: 1px solid orange;
      margin: 10px;
      padding: 10px;
    }
    .cap-at-300 {
      max-height: 350px;

    }
    .cap-at-200 {
      max-height: 250px;

    }
    .fit {
      height: 300px;
    }

    .scroll-without-fit{

      overflow: -moz-scrollbars-vertical;
      overflow-y: scroll;
    }
    .show {
      display: block !important;
    }
    .hidden {
      display: none !important;
      visibility: hidden !important;
    }
    .right-padded {
      margin-right: 40px;
    }

    .wide-ta {
      min-width: 100%;
      min-height: 200px;
    }

    .fit-and-scroll {
      width: inherit;
      height: inherit !important;
      overflow: -moz-scrollbars-vertical;
      overflow-x: scroll;
      overflow-y: scroll;
      padding: 20px 20px 20px 20px;
    }
  </style>
</head>

<body style="height: 100vh !important" ng-app="questionnaire-page" ng-controller="QuestionnairePage as page" ng-init="page.init()">
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
  <div class="container">
    <a class="navbar-brand logo" href="#">Questionnaire</a>
  </div>
</nav>

<main class="page cv-page">
  <br>
  <section class="portfolio-blockm cv">
    <div class="container">
      <!-- Intro page -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'introduction'">
        <div class="row">
          <h3 class="text-muted">{{page.messages.opening_remarks.heading}}</h3>
        </div>
        <br>
        <br>
        <div class="item">
          <p class="text-muted">
            {{page.messages.opening_remarks.message}}
          </p>
        </div>
      </div>

      <!-- demographics -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'demographics'">
        <div class="row">
          <h3 class="text-muted">{{page.messages.demographics.heading}}</h3>
        </div>
        <br>
        <br>
        <div class="item">
          <p class="text-muted">
            <b>{{page.messages.demographics.message}}</b>
          </p>
          <br>
          <table>
            <thead>
            <th colspan="10"></th>
            <th colspan="7" ></th>
            </thead>
            <tbody>
            <tr>
              <td style="padding-right:7px">Gender</td>
              <td class="float-left"><select ng-model="page.results.demographics.gender">
                <option>Female</option>
                <option>Male</option>
                <option>Other</option>
                <option>I'd rather not say</option>
              </select></td>
            </tr>
            <tr>
              <td>Educational Qualification</td>
              <td class="float-left"><select ng-model="page.results.demographics.education">
                <option>Undergraduate</option>
                <option>Postgraduate</option>
                <option>Other</option>
                <option>I'd rather not say</option>
              </select></td>
            </tr>
            <tr>
              <td>Age Range</td>
              <td class="float-left"><select ng-model="page.results.demographics.age_range">
                <option>18 - 24</option>
                <option>25 - 29</option>
                <option>30 - 34</option>
                <option>35 - 39</option>
                <option>40 - 44</option>
                <option>45 - 49</option>
                <option>50 - 54</option>
                <option>55 - 59</option>
                <option>60 - 64</option>
                <option>65 - 69</option>
                <option>70 - 74</option>
                <option>75 - 79</option>
                <option>80 - 84</option>
                <option>I'd rather not say</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:12px">Occupation / Field of Study</td>
              <td class="float-left">
                <input type="text" ng-model="page.results.demographics.occupation">
              </td>
            </tr>
            <tr>
              <td style="padding-right:12px">Do you work with charts or visualisations in your day to day work?</td>
              <td class="float-left">
                <select ng-model="page.results.demographics.use_of_visualisation">
                  <option>Yes</option>
                  <option>No</option>
                  <option>I'd rather not say</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="padding-right:12px"><b>Prolific ID</b></td>
              <td class="float-left">
                <input type="text" ng-model="page.results.demographics.prolific_id">
              </td>
            </tr>
            <tr>
              <td style="padding-right:12px">What to do think transparency in Intelligent Systems (i.e. AI) is?</td>
              <td class="float-left">
                <textarea  ng-model="page.results.demographics.transparency"> </textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Instructions Page -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'instructions'">
        <div class="row">
          <h3 class="text-muted">{{page.messages.instructions.heading}}</h3>

        </div>
        <div class="item padded">
          <b class="text-danger">{{page.messages.instructions.warning}}</b>
          <p class="text-muted">
            {{page.messages.instructions.message}}<br><br>
            {{page.messages.instructions.message_b}}<br><br>
            {{page.messages.instructions.message_c}}
          </p>
        </div>
      </div>

      <!-- task page -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'task-1-a' || page.currentPage.key == 'task-1-b'|| page.currentPage.key == 'task-1-c' || page.currentPage.key == 'task-2-a' || page.currentPage.key == 'task-2-b' || page.currentPage.key == 'task-2-c' || page.currentPage.key == 'task-3-a' || page.currentPage.key == 'task-3-b' || page.currentPage.key == 'task-3-c'">
        <div class="row">
          <h3 class="text-muted">{{page.currentPage.label}}</h3>
        </div>
        <br>
        <div class="item">
          <!-- Graph here -->
          <b class="text-danger">
            knowledge-base can be scrolled vertically (up/down). Visualisation can be scrolled horizontally (left/right)
            <Br> Nodes (green and red) can be interacted with for additional information.</b>
          <br>
          <div class="row cap-at-300 bordered">
            <div class="col-md-4 scroll-without-fit cap-at-300">
              <nav class="nav-group ">
                <span class="nav-group-title">Knowledge Base</span>
                <ul class="list-group cap-at-200">
                  <li class="list-group-header">
                    <input class="form-control" type="text"
                           ng-model="page.searchString"
                           ng-change="page.searchKnowledgeBase()"
                           placeholder="search knowledge-base (case sensitive)">
                  </li>
                  <li class="list-group-item list-group-item-b"
                      ng-repeat="belief in page.filteredKnowledgeBase"
                      ng-mouseover="page.displayFullSensorReading(belief)"
                      ng-mouseleave="page.hideFullSensorReading()">

                    <div class="media-body">
                      <strong>{{belief.value}}</strong>
                      <p>{{belief.source}}</p>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-md-8">
              <div class="pane fit" id="view_region">
                <div id="visualisation_board" class="fit-and-scroll"></div>
              </div>
            </div>
          </div>
          <br>
          <table>
            <thead>
            <th colspan="10"></th>
            <th colspan="7" ></th>
            </thead>
            <tbody>
            <tr ng-if="page.currentPage.key == 'task-1-a'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.one_a" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>
            <tr ng-if="page.currentPage.key == 'task-1-b'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.one_b" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>
            <tr ng-if="page.currentPage.key == 'task-1-c'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.one_c" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>
            <tr ng-if="page.currentPage.key == 'task-2-a'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.two_a" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>
            <tr ng-if="page.currentPage.key == 'task-2-b'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.two_b" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>
            <tr ng-if="page.currentPage.key == 'task-2-c'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.two_c" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>
            <tr ng-if="page.currentPage.key == 'task-3-a'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.three_a" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>
            <tr ng-if="page.currentPage.key == 'task-3-b'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.three_b" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>
            <tr ng-if="page.currentPage.key == 'task-3-c'">
              <td style="padding-right:7px">{{page.currentPage.question}}</td>
              <td class="float-left">
                <select ng-model="page.results.tasks.three_c" ng-options="item as item for item in page.currentPage.options"></select>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>


      <!-- Scenario Page -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'scenario'">
        <div class="row">
          <h3 class="text-muted">{{page.messages.scenario.heading}}</h3>
        </div>
        <br>
        <br>
        <div class="item">
          <p class="text-muted">
            {{page.messages.scenario.message}}
            <br><br>
            <b>Event:&nbsp;&nbsp;</b> {{page.messages.scenario.message_b}}
            <br>
            <table>
              <tbody>
              <tr ng-repeat="entry in page.messages.scenario.list">
                <td>{{entry.start}}</td>
                <td>-</td>
                <td>{{entry.end}}:</td>
                <td style="padding-left: 15px">{{entry.note}}</td>
              </tr>
              </tbody>
            </table>
          <br>{{page.messages.scenario.message_c}}:<br><br>
          <table>
            <tbody>
            <tr ng-repeat="entry in page.messages.scenario.list_b">
              <td>{{entry.start}}</td>
              <td>-</td>
              <td>{{entry.end}}:</td>
              <td style="padding-left: 15px">{{entry.note}}</td>
            </tr>
            </tbody>
          </table>
          <br> {{page.messages.scenario.message_d}}:<br><br>
          <b>
            Important: The visualisation is interactive, the nodes represent actions taken by the calender.
            The red nodes represent actions that were not possible at the time of decision making.
            Clicking on a node shows the information available to the calendar at the point of its decision
            making (This appears on the left of the screen).<br><br>
          </b><br>
          <b>
            Green Nodes: When on the middle line, they represent actions your calendar performed<br>
            Green Nodes: When not on the middle line, they represent actions available to your calendar that were not explored.<br>
            Red Nodes: Represents actions options available to your calendar that could not be performed.<br>
            <br>
          </b>
          </p>
        </div>
      </div>

      <!-- Think aloud task -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'think-aloud'">
        <div class="row">
          <h3 class="text-muted">{{page.messages.think_aloud.heading}}</h3>

        </div>
        <br>
        <div class="item">
          <b class="text-danger">{{page.messages.think_aloud.warning}}</b><br><br>
          <p class="text-muted">
            {{page.messages.think_aloud.message}}<br><br>
          </p>
          <textarea col-span="400" class="wide-ta" ng-model="page.results.think_aloud.summary"></textarea>
        </div>
      </div>


      <!-- Quality of visualisation -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'quality-a'">
        <div class="row">
          <h3 class="text-muted">{{page.currentPage.label}}</h3>
        </div>
        <br>
        <div class="item">
          <table>
            <thead>
            <th colspan="10"></th>
            <th colspan="7" ></th>
            </thead>
            <tbody>
              <tr>
                <td style="padding-right:7px">I think that I would like to use this system frequently</td>
                <td><select ng-model="page.results.survey.sus_1">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I found the system unnecessarily complex</td>
                <td><select ng-model="page.results.survey.sus_2">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I thought the system was easy to use</td>
                <td><select ng-model="page.results.survey.sus_3">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I think I would need the support of a technical person to be able to use this system</td>
                <td><select ng-model="page.results.survey.sus_4">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I found the various functions in the system were well integrated</td>
                <td><select ng-model="page.results.survey.sus_5">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I thought there was too much inconsistency in the system</td>
                <td><select ng-model="page.results.survey.sus_6">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I would imagine that most people would learn how to use this system very quickly</td>
                <td><select ng-model="page.results.survey.sus_7">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I found the system very awkward to use</td>
                <td><select ng-model="page.results.survey.sus_8">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I felt very confident using the system</td>
                <td><select ng-model="page.results.survey.sus_9">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-right:7px">I needed to learn a lot of things before I could get going with this system</td>
                <td><select ng-model="page.results.survey.sus_10">
                  <option>Strongly Disagree</option>
                  <option>Disagree</option>
                  <option>Neutral</option>
                  <option>Agree</option>
                  <option>Strongly Agree</option>
                </select></td>
              </tr>
            </tbody>
          </table>
        </div>
        <Br>
      </div>

      <!-- Quality of visualisation -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'quality-b'">
        <div class="row">
          <h3 class="text-muted">{{page.currentPage.label}}</h3>

        </div>
        <br>

        <div class="item">
          <table>
            <thead>
            <th colspan="10"></th>
            <th colspan="7" ></th>
            </thead>
            <tbody>
            <tr>
              <td style="padding-right:7px">Overall, I am happy with how easy it is to use the system</td>
              <td><select ng-model="page.results.survey.pssuq_1">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">It was simple to use this system</td>
              <td><select ng-model="page.results.survey.pssuq_2">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">I was able to complete the tasks and scenarios quickly using this system</td>
              <td><select ng-model="page.results.survey.pssuq_3">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">I felt comfortable using this system</td>
              <td><select ng-model="page.results.survey.pssuq_4">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">It was easy to learn and use this system</td>
              <td><select ng-model="page.results.survey.pssuq_5">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">It was easy to find information I needed</td>
              <td><select ng-model="page.results.survey.pssuq_6">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">The organisation of the information on the visualisation was clear </td>
              <td><select ng-model="page.results.survey.pssuq_7">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">The visualisation was pleasant</td>
              <td><select ng-model="page.results.survey.pssuq_8">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">I liked using the visualisation</td>
              <td><select ng-model="page.results.survey.pssuq_9">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">The system has all the functions and capabilities I expect it to have</td>
              <td><select ng-model="page.results.survey.pssuq_10">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">Overall, I am satisfied with this system</td>
              <td><select ng-model="page.results.survey.pssuq_11">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">The visualisation helped me understand how the Smart Calender works</td>
              <td><select ng-model="page.results.survey.custom_1">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">The visualisation was sufficiently detailed</td>
              <td><select ng-model="page.results.survey.custom_2">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">The visualisation seemed complete</td>
              <td><select ng-model="page.results.survey.custom_3">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">The visualisation told me how the smart calender works</td>
              <td><select ng-model="page.results.survey.custom_4">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">The visualisation was helpful in allowing me to quickly understand the reason for an outcome</td>
              <td><select ng-model="page.results.survey.custom_5">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            <tr>
              <td style="padding-right:7px">I prefer a text based explanation</td>
              <td><select ng-model="page.results.survey.custom_6">
                <option>Strongly Disagree</option>
                <option>Disagree</option>
                <option>Neutral</option>
                <option>Agree</option>
                <option>Strongly Agree</option>
              </select></td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
      </div>

      <!-- Quality of visualisation -->
      <div class = "work-experience group" ng-show="page.currentPage.key == 'quality-c' && ! page.submitted">
        <div class="row">
          <h3 class="text-muted">{{page.currentPage.label}}</h3>

        </div>
        <br>
        <div class="item">
          <table>
            <thead>
            <th colspan="10"></th>
            <th colspan="7" ></th>
            </thead>
            <tbody>
            <tr>
              <td style="padding-right:12px">What improvement would you like to see in the visualisation and how did the visaulisation not support that?</td>
              <td class="float-left">
                <textarea  ng-model="page.results.survey.change_proposal_and_why"> </textarea>
              </td>
            </tr>
            <tr>
              <td style="padding-right:12px">What would you like to preserve in the visualisation?</td>
              <td class="float-left">
                <textarea  ng-model="page.results.survey.keep_proposal_and_why"> </textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- On submit page -->
      <div class = "work-experience group"  ng-show="page.submitted">
        <div class="row">
          <h3 class="text-info">{{page.messages.closing_remarks.heading}}</h3>
        </div>
        <br>
        <div class="item">
          {{page.messages.closing_remarks.message}}
          <br>
          <br>
          <br>
          <b>PROLIFIC COMPLETION CODE:  {{page.prolificCode}}</b>
        </div>
      </div>

      <div class = "work-experience group" ng-hide="page.submitted">
        <div class="float-right">
          <button ng-if="page.canNavBack" class="btn btn-outline-primary right-padded" ng-click="page.gotoPreviousPage()"> < Back [{{page.previousPage.label}}] </button>
          <button ng-if="page.canNavForward" class="btn btn-outline-primary" ng-click="page.gotoNextPage()">Next [{{page.nextPage.label}}] > </button>
          <button ng-if="! page.canNavForward" class="btn btn-success" ng-click="page.submit()"> Submit </button>

        </div>

      </div>
    </div>
  </section>


</main>



<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-firestore.js"></script>

<script src="assets/js/d3.min.js"></script>
<script src="assets/js/lodash.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/app_aug.js"></script>
<script src="assets/js/trace-store.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/transparency-dashboard.js"></script>


</body>

</html>